---
import { TextL1 } from "../../format/LightTypography";
import { HeaderBl5, TextBl1 } from "../../format/BlackTypography";
import ProjectsCardWrapper from "./ProjectsCardWrapper.astro";
---

<div class='flex flex-col w-full items-center mb-20'>
	<div class='flex flex-col max-[768px]:mb-10 mb-56 w-full items-center'>
		<TextL1>Lo que puedo hacer</TextL1>
		<HeaderBl5>Mis proyectos</HeaderBl5>
	</div>
	<div class='flex flex-col w-full justify-center items-center'>
		<ProjectsCardWrapper />
	</div>
</div>
