---
import ProgressBar from "../progress/ProgressBar.astro";
---

<div
	class='flex  max-[1366px]:flex-col lg:w-6xl xl:w-[1512px] lg:flex-row xl:flex-row flex-wrap justify-evenly gap-6'>
	<ProgressBar text='Trabajo en equipo' level={3} />
	<ProgressBar text='Escucha activa' level={4} />
	<ProgressBar text='Organización' level={3} />
	<ProgressBar text='Adaptación' level={4} />
</div>
