<div class='flex justify-between'>
	<div
		class='sm:w-[76px] h-[16px] md:w-[164px]  lg:w-[134px]  xl:w-[180px] rounded-[8px] bg-mora2'>
	</div>
	<div
		class='sm:w-[76px] h-[16px] md:w-[164px]  lg:w-[134px]  xl:w-[180px] rounded-[8px] bg-mora2'>
	</div>
	<div
		class='sm:w-[76px] h-[16px] md:w-[164px]  lg:w-[134px]  xl:w-[180px] rounded-[8px] bg-negro10 dark:bg-negro4'>
	</div>
	<div
		class='sm:w-[76px] h-[16px] md:w-[164px]  lg:w-[134px]  xl:w-[180px] rounded-[8px] bg-negro10 dark:bg-negro4'>
	</div>
</div>
