---
import ProjectPageContextCard from "./projectPageContextCard/ProjectPageContextCard.astro";
import ProblemaIcon from "./projectPageContextCard/icons/ProblemaIcon.astro";
import ObjetivoIcon from "./projectPageContextCard/icons/ObjetivoIcon.astro";
import type {
	list,
	ProjectPageContextCardWrapperProps,
} from "../../types/ProjectPageContextCardTypes";

const { problemSection, objectiveSection } =
	Astro.props as ProjectPageContextCardWrapperProps;
---

<div>
	<div
		class='grid grid-cols-1 md:grid-cols-2 w-full gap-6 xl:mx-[104px] justify-items-center'>
		<div class='h-full w-full flex justify-center'>
			<ProjectPageContextCard title='Problema' section={problemSection}>
				<ProblemaIcon />
			</ProjectPageContextCard>
		</div>
		<div class='my-0 h-full w-full flex justify-center'>
			<ProjectPageContextCard title='Objetivo' section={objectiveSection}>
				<ObjetivoIcon />
			</ProjectPageContextCard>
		</div>
	</div>
</div>
