---
import ProjectPageAlcanceCard from "./projectPageAlcanceCard/ProjectPageAlcanceCard.astro";
import StakeIcon from "./projectPageAlcanceCard/icons/stakeIcon.astro";
import MetodoIcon from "./projectPageAlcanceCard/icons/metodoIcon.astro";
import EquipoIcon from "./projectPageAlcanceCard/icons/equipoIcon.astro";
import ImpactoIcon from "./projectPageAlcanceCard/icons/impactoIcon.astro";

type ProjectPageAlcanceCardsProps = {
	stakeHolders: string[];
	metodologia: string[];
	equipo: string[];
	kpis: string[];
};
const { stakeHolders, metodologia, equipo, kpis } =
	Astro.props as ProjectPageAlcanceCardsProps;
---

<div>
	<div
		class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 w-full gap-6 xl:mx-[104px] justify-items-center'>
		<div class='h-full w-full flex justify-center'>
			<ProjectPageAlcanceCard title='Stakeholder' text={stakeHolders}>
				<StakeIcon />
			</ProjectPageAlcanceCard>
		</div>
		<div class='my-0 h-full w-full flex justify-center'>
			<ProjectPageAlcanceCard title='Metodología' text={metodologia}>
				<MetodoIcon />
			</ProjectPageAlcanceCard>
		</div>
		<div class='my-0 h-full w-full flex justify-center'>
			<ProjectPageAlcanceCard title='Equipo ' text={equipo}>
				<EquipoIcon />
			</ProjectPageAlcanceCard>
		</div>
		<div class='h-full w-full flex justify-center'>
			<ProjectPageAlcanceCard title='Impacto' text={kpis}>
				<ImpactoIcon />
			</ProjectPageAlcanceCard>
		</div>
	</div>
</div>

