---
import HomeTitle from './HomeTitle.astro';
import HomeDescription from './HomeDescription.astro';
import HomeImage from './HomeImage.astro';
import profileImage from '../../assets/img/profileAndrea.jpg'
---


<div class='flex flex-col md:flex-row justify-between items-center gap-6 '>
	<div class='md:w-[50%]'>
		<div class='flex w-full sm:mt-4'>
			<HomeTitle name='Andrea' lastName='Encarnación' />
		</div>
		<div class='flex justify-center w-full items-center md:hidden'>
			<img alt='profile' src={profileImage.src} width={180} height={201} />
		</div>
		<div class='flex justify-center w-full'>
			<HomeDescription />
		</div>
	</div>
	<div>
		<HomeImage />
	</div>
</div>
