---
import { TextR2 } from "../../format/RegularTypography";
---

<div class='flex flex-col w-full mt-4 m-0 gap-2'>
	<TextR2>
		Soy una diseñadora con más de 5 años de experiencia principalmente en banca
		digital, optimización de procesos de banca empresas y retail. Estoy segura
		que mi experiencia en Design Systems, investigación con usuarios y rediseño
		de journeys críticos ayudarán a cumplir los objetivos en el reto que se me
		proponga.
	</TextR2>
</div>
