---
import ContactButton from "./ContactButton.astro";
import { HeaderBl5 } from "../../format/BlackTypography";
import { TextL1 } from "../../format/LightTypography";
import linkedin from "../../assets/img/linkedin.png";
import gmail from "../../assets/img/gmail.png";
import whatsapp from "../../assets/img/whatsapp.png";
import instagram from "../../assets/img/instagram.png";
---

<div class='mb-14'>
	<div class='flex flex-col max-[768px]:mb-10 mb-10 w-full items-center'>
		<TextL1>Si necesitas mi perfil</TextL1>
		<HeaderBl5>Contáctame</HeaderBl5>
	</div>
	<div class='flex justify-center gap-6 items-center'>
		<ContactButton
			contactLink='https://www.instagram.com/andreaencarnaciong'
			buttonColor='border-instagram'
			image={instagram}
		/>
		<ContactButton
			contactLink='https://www.linkedin.com/in/andreeg'
			buttonColor='border-linkedin'
			image={linkedin}
		/>
		<ContactButton
			contactLink='mailto:andrea.encarnaciong@gmail.com?cc=andrea_206_93@hotmail.com'
			buttonColor='border-gmail'
			image={gmail}
		/>
		<ContactButton
			contactLink='https://wa.me/51999560439'
			buttonColor=' border-whatsapp'
			image={whatsapp}
		/>
	</div>
</div>
