---
// interface Props {
// 	title: string;
// 	description: string;
// }

const { title, description } = Astro.props;



// import "@fontsource-variable/onest";
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<title>{title}</title>
		<script is:inline>
			try {
				const stored = localStorage.getItem("theme");
				const prefersDark = window.matchMedia(
					"(prefers-color-scheme: dark)"
				).matches;
				const theme = stored || "system";

				const finalTheme =
					theme === "system" ? (prefersDark ? "dark" : "light") : theme;

				document.documentElement.classList.toggle(
					"dark",
					finalTheme === "dark"
				);
				window.__theme__ = theme;
			} catch (e) {}
		</script>
	</head>
	<body>
	
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: dark;
	}
	html {
		font-family: "Onest Variable", sans-serif;
	}
	p {
		color: rgba(255, 255, 255, 0.9);
		line-height: 1.4;
		margin-bottom: 1em;
		font-weight: 100;
		font-size: 1em;
		letter-spacing: 0.5px;
	}
	p strong {
		color: white;
		font-weight: 700;
	}
	html {
		background: #151a36;
		font-family: "Onest Variable", system-ui, sans-serif;
	}
</style>
