---
// interface Props {
// 	title: string;
// 	description: string;
// }
import Navbar from "../components/navbar/Navbar";
import "../styles/global.css";

const { title, description } = Astro.props;

// import "@fontsource-variable/onest";
---

<!doctype html>
<html lang='en' class='font-sans'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link
			href='https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap'
			rel='stylesheet'
		/>
		<title>{title}</title>
		<script is:inline>
			try {
				const stored = localStorage.getItem("theme");
				const prefersDark = window.matchMedia(
					"(prefers-color-scheme: dark)"
				).matches;

				// Si no hay tema guardado, se usa "system"
				const theme = stored ?? "system";

				const finalTheme =
					theme === "system" ? (prefersDark ? "dark" : "light") : theme;

				document.documentElement.classList.toggle(
					"dark",
					finalTheme === "dark"
				);

				// Guardar el tema actual en una variable global por si el frontend lo necesita
				window.__theme__ = theme;
			} catch (error) {
				console.error("Theme init error:", error);
			}
		</script>
	</head>
	<body>
		<Navbar client:load />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}
	html.dark {
		color-scheme: dark;
	}
</style>
